In [6]:
import pandas as pd

Let's import dummy_data.csv file in local directory into a pandas Dataframe object

In [7]:
csv_file_path ='/home/christopher/Documents/interview_prep/dummy_data.csv'

In [8]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

In [9]:
print(df)

     ID        Name  Age   City   Country  Salary        Date
0     1    Person_1   33  CityC  CountryY   32020  2023-06-18
1     2    Person_2   27  CityA  CountryX   56033  2023-07-08
2     3    Person_3   19  CityA  CountryX   60416  2023-09-16
3     4    Person_4   49  CityD  CountryX   38983  2022-11-27
4     5    Person_5   53  CityA  CountryY   58720  2023-09-22
..  ...         ...  ...    ...       ...     ...         ...
95   96   Person_96   34  CityB  CountryY   53957  2022-12-19
96   97   Person_97   20  CityB  CountryZ   30594  2023-01-07
97   98   Person_98   26  CityC  CountryZ   61115  2022-12-21
98   99   Person_99   19  CityA  CountryZ   45357  2023-04-14
99  100  Person_100   30  CityB  CountryZ   38802  2023-02-24

[100 rows x 7 columns]

In [13]:
df_avg_salary_by_city = df.groupby('City')['Salary'].mean()
print(df_avg_salary_by_city)
df_avg_salary_by_country = df.groupby('Country')['Salary'].mean()
print(df_avg_salary_by_country)

City
CityA    44440.000000
CityB    42890.260870
CityC    48878.047619
CityD    48736.789474
CityE    44285.062500
Name: Salary, dtype: float64
Country
CountryX    47466.516129
CountryY    46396.315789
CountryZ    43425.580645
Name: Salary, dtype: float64